* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
}

p {
    line-height: 2;
}

.container h2 {
    margin: 32px 0;
    font-size: 60px;
    font-weight: 800;
}

.container {
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

.container section {
    height: 100vh;
    background: #B22222;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.container section .content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.container section:nth-of-type(2n) {
    background: #8B0000;
    color: #A52A2A;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #DAA520;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px; /* Adjusted padding for smaller screens */
    border-radius: 5px;
    transition: background 0.3s ease;
}

nav ul li a:hover {
    background: #555;
}

/* Additional styles for active navigation item */
nav ul li a.active {
    background: #555;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    nav ul li a {
        padding: 6px 10px; /* Adjusted padding for smaller screens */
        font-size: 14px; /* Adjusted font size for smaller screens */
    }
}
