* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
}

p {
  line-height: 2;
}

.container h2 {
  margin: 32px 0;
  font-size: 60px;
  font-weight: 800;
}

.container {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.container section {
  height: 100vh;
  background: #222;
  color: #CD5C5C;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.container section .content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.container section:nth-of-type(2n) {
  background: #333;
  color: #DEB887;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #333;
  padding: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #DCDCDC;
  font-weight: bold;
  padding: 8px 12px; /* Adjusted padding for smaller screens */
  border-radius: 5px;
  transition: background 0.3s ease;
}

nav ul li a:hover {
  background: #333;
}

/* Additional styles for active navigation item */
nav ul li a.active {
  background: #555;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  nav ul li a {
      padding: 6px 10px; /* Adjusted padding for smaller screens */
      font-size: 14px; /* Adjusted font size for smaller screens */
  }
}


* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.outer-headings {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 45px;
}

.inner-headings {
  border: 0px solid #ddd;
  height: 50px;
  line-height: 50px;
  font-size: 45px;
  text-transform: uppercase;
  overflow: hidden;
}

.inner-headings span {
  position: relative;
  color: #C0C0C0;
  animation: animation 10s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    top: 0;
  }
  20% {
    top: 0;
  }
  25% {
    top: -50px;
  }
  45% {
    top: -50px;
  }
  50% {
    top: -100px;
  }
  70% {
    top: -100px;
  }
  75% {
    top: -150px;
  }
  95% {
    top: -150px;
  }
}